---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}

  <section style="padding: 5vw 0 3vw; display: grid; gap: 20px;grid-template-columns: 7fr 5fr;">
    <article style="display: flex; justify-content: center; flex-direction: column; max-width: 1fr;">
      <h1 style="font-size: min(5vw, 59px) ;">
        Hello World
      </h1>
      <p style="font-size: min(3vw, 35px);">
        Ich bin Alexander Johr, Software-Entwickler, Dozent und Clean-Code Enthusiast.
      </p>
      <p style="font-size: min(3vw, 35px);">
        Willkommen auf meiner Seite.
      </p>

    </article>
    <img style="border-radius: 90px;" src="assets/img/alexander_johr.jpg">


  </section>


  <h2>Projekte</h2>

  <section style=" display: grid; gap: 20px;grid-template-columns: repeat(auto-fill,minmax(300px, 1fr)); margin: auto;">
    {%- for post in posts -%}
    <article
      style="overflow: hidden; border-radius: 16px; box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);display: flex;flex-direction: column;">
      {% if post.image %}
      <img src="{{ post.url | relative_url }}{{post.image}}">

      {% endif %}

      <div style="padding: 28px;">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </div>

    </article>
    {%- endfor -%}
  </section>

  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      {%- if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page
          }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
      <li>
        <div class="current-page">{{ paginator.page }}</div>
      </li>
      {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
    </ul>
  </div>
  {%- endif %}

  {%- endif -%}

</div>