---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" style="padding: min(5vw,58px) 0 min(3vw,35px);">
    <h1 style="font-size: min(4vw,47px);" class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  {%- if page.video -%}
  <video style="border-radius: 30px; margin-bottom: 48px;" playsinline autoplay muted loop>
    <source src="{{page.video}}"  >
      {%- if page.alt_video -%}
      <source src="{{page.alt_video}}"  >
      {%- endif -%}
    Your browser does not support the video tag.
  </video>
  {%- elsif page.image -%}
  <img style="border-radius: 30px; margin-bottom: 48px;" src="{{page.image}}">
  {%- endif -%} 

  <!--
  <header class="post-header" style="padding: min(5vw,58px) 0 min(3vw,35px);">
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
      ~
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%}
      {%- if page.author -%}
      • {% for author in page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
      {%- endif -%}
    </p>  </header>
  -->

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>